body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

#bg {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}